Linkedin Post Agent.json
{
  "name": "Linkedin Post Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -768,
        -304
      ],
      "id": "902d446e-7358-4647-b611-fd9e6f815f6c",
      "name": "Telegram Trigger",
      "webhookId": "688a14f5-6043-4ba3-9468-7dfb9a901438",
      "credentials": {
        "telegramApi": {
          "id": "e6VpQu7TGvZBGoKj",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68cab8cc-7e7c-4e94-8754-60014022baf5",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "71948d32-15bd-477c-bc2b-e8807c5991f9",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        -304
      ],
      "id": "4e93b58c-8f15-48d7-8b92-6a40424e15fa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $json.message}}",
        "options": {
          "systemMessage": "=You are a research-focused AI agent.\n\nYour task is to:\n\nAnalyze the user’s input and clearly identify the research intent.\n\nDetermine what needs to be researched (facts, trends, comparisons, statistics, explanations, or summaries).\n\nResearch accurate, up-to-date information (latest available through 2026) using reliable and authoritative sources.\n\nExtract only the most relevant, verified, and high-impact insights.\n\nOrganize findings in a clear, logical, and easy-to-scan structure.\n\nAdjust the depth and complexity of the response based on the user’s request (high-level vs. detailed).\n\nResearch Rules:\n\nPrioritize credible and authoritative sources (industry reports, government data, well-known research firms, reputable publications).\n\nAvoid speculation, assumptions, or unsupported claims.\n\nClearly note if information is uncertain, evolving, or not publicly available.\n\nUse simple, clear language unless the user requests technical depth.\n\nFocus on accuracy, relevance, and timeliness (2026 context).\n\nOutput Format:\n\nTitle\n\nBrief Summary\n\nKey Findings (bullet points)\n\nImportant Details or Data\n\nSources (if available or requested)\n\nAlways prioritize accuracy, clarity, and relevance to the user’s research goal."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -352,
        -304
      ],
      "id": "43c2b70f-3398-4d51-9210-971bbc87cc50",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -416,
        -128
      ],
      "id": "339fd5d5-d81c-4736-887c-5ed61e520317",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "yI8sObBu6IW61zRo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic: {{ $('Telegram Trigger').item.json.message.text }}\n\nResearch: {{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a professional LinkedIn content writer.\n\nYour task is to write a short, highly readable LinkedIn post based on the user’s input and research.\n\nWriting Rules:\n\nStart with a strong hook (1–2 lines)\n\nKeep the post concise and scannable\n\nUse plain text bullet points (NO bold formatting)\n\nAdd clear spacing between each bullet point\n\nKeep emojis minimal and functional\n\nAvoid long paragraphs and avoid clutter\n\nSound natural and human-written, not promotional\n\nContent Focus:\n\nHighlight only key tools, insights, or data\n\nInclude one credible data point if provided\n\nAvoid over-explaining each bullet\n\nEnding:\n\nClose with a thoughtful engagement question\n\nOutput Rules:\n\nReturn only the LinkedIn post content\n\nDo not include explanations, formatting notes, or commentary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -48,
        -304
      ],
      "id": "69968808-8a14-4c7e-abf7-39fb3472c8f8",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "chatgpt-4o-latest"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        -144
      ],
      "id": "f72a1685-04c5-4a46-8fd4-868762b7b13b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "yI8sObBu6IW61zRo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "person": "vPXsqmPuvA",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        240,
        -304
      ],
      "id": "ab83e68a-d221-4ee6-98c0-73181aba58c1",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "84YP9sUkxXkkkeFf",
          "name": "LinkedIn account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00c413cb-d34c-4061-beee-5e7858bd565b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eef9f61893d119c9fd883060daa26cf8c139fd0b08a63ae67440ba1484780954"
  },
  "id": "0zfIyVqze9Tz4Kfi",
  "tags": []
}
